[submodule "components/lvgl"]
	path = esp32/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl_esp32_drivers"]
	path = esp32/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "x86_64/third_party/lv_drivers"]
	path = x86_64/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "lib/gui/lv_lib_qrcode"]
	path = esp32/components/gui/lv_lib_qrcode
	url = https://github.com/lvgl/lv_lib_qrcode.git
[submodule "esp32/components/esp32-button"]
	path = esp32/components/esp32-button
	url = https://github.com/craftmetrics/esp32-button.git
