[submodule "components/lvgl"]
	path = lib/gui/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl_esp32_drivers"]
	path = esp32/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "x86_64/third_party/lv_drivers"]
	path = x86_64/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
